@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Global CSS variables */
:root {
  --mainColor: rgb(0, 190, 162);
  --bgColor: rgb(230, 230, 230);
  --fontColor1: rgb(255, 255, 255);
  --fontColor2: rgb(55, 54, 74);
  --accentColor1: rgb(28, 57, 221);
  --accentColor2: rgb(88, 128, 244);
  --mainFont: Roboto, sans-serif;
  --secFont: Source Sans Pro;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--bgColor);
  text-align: center;
  font-weight: bold;
}

h1 {
  font-family: var(--mainFont);
}

p {
  font-family: var(--secFont);
}

.title {
  border-bottom: 4px solid var(--mainColor);
  padding: 1rem;
  margin-bottom: 0;
}

.landing-page {
  display: flex;
  flex-direction: column;
}

.main-btn {
  width: 200px;
  height: 40px;
  border: none;
  font-size: 14px;
  background-color: var(--mainColor);

  color: var(--fontColor1);
}

.symptom-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;

  width: 350px;
}

.symptom-container select {
  height: 30px;
  width: 240px;
  font-size: 14px;
  margin: 30px;
}

.symptom-container button {
  height: 40px;
  width: 240px;
  border-radius: 3px;
  font-size: 14px;
  background-color: var(--mainColor);
  color: var(--fontColor1);
}

.symptom-text {
  margin-bottom: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  background: var(--bgColor);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  background: var(--bgColor);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  background: var(--bgColor);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  background: var(--bgColor);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  background: var(--bgColor);
}
